<div class="f">
<div class="faq">
<h1 class="hh"> <b> Frequently Asked Questions</b></h1>
<span class="btn">
    <ul class="list">
        <li>
            <h3 >
                <button class="b-1" routerLink="netflix"> What is Netflix?     </button>
                <img src="/src/assets/image/plus.png"  alt="">
            </h3>
        </li>

        <li>
             <h3> 
                <button class="b-1" >How much does Netflix cost? </button>
        </h3>
     </li>
        <li>
             <h3>
                <button class="b-1" >Where can I  watch? </button>
        </h3>
     </li>
        <li>
             <h3> 
                <button class="b-1" > How do I  cancel?</button>
        </h3>
     </li>
        <li>
             <h3> 
                <button class="b-1" >What can I  watch on Netflix? </button>
        </h3>
     </li>
        <li>
             <h3> 
                <button class="b-1" >Is Netflix good for kids?  </button>
        </h3> </li>
    </ul>
</span>
<p> <b>Ready to watch? Enter your email to create or restart your membership.</b> </p>
<div class="e">
<input type="email" placeholder="Email address"> <button class="bbt"><b> Get Started ></b></button>
</div>
</div>
</div>