<div class="netflix">
    <div class="navbar">
        <img class="d" src="./assets/image/logo1.png" alt="">
        <div class="io"> <span class="lang">
                <img class="im" src="./assets/image/globe.png" alt="">
                <select class="option">
                    <option value="English">English</option>
                    <option value="Telugu">Telugu</option>
                </select>
            </span>
            <button class="btn"><b>Sign In</b></button>
        </div>
    </div>
    <div class="netflix-1">
        <h2> <b>Unlimited movies, TV shows and more</b></h2>
        <h5>Watch anywhere. cancel anytime</h5>
        <h6>Ready to watch? Enter your email to create or restart your membership</h6>
        <div class="bb">
            <input type="email" class="in" placeholder="Email address"> <button class="bbt"><b>Get Started ></b></button>
        </div>
    </div>
</div>