
<div class="footer">
<div class="footerclass">
    <div>
        <b class="p"> Questions? Call</b> <a href="tel:000-800-919-1694">000-800-919-1694</a>
    </div> 
    <div class="lists">
        <ul class="list">

            <li class="list-item"> <a class="a" href="https://help.netflix.com/en/">Help Center </a>  </li>
           

            <li class="list-item"> <a class="a" href="https://help.netflix.com/en/node/412">FAQ</a> </li>
            <li class="list-item"> <a class="a"
                    href="https://www.netflix.com/in/login?nextpage=https%3A%2F%2Fwww.netflix.com%2Fyouraccount">Account
                </a> </li>
                
            <li class="list-item"> <a class="a" href="https://media.netflix.com/en/"> Media Center</a> </li>
            <li class="list-item"> <a class="a" href="https://ir.netflix.net/ir-overview/profile/default.aspx"> investor
                    Relations</a> </li>
                    </ul>
                    <ul class="list">    
            <li class="list-item"> <a class="a" href="https://jobs.netflix.com/"> Jobs </a></li>

            <li class="list-item"> <a class="a" href="https://devices.netflix.com/en/"> Ways to Watch </a></li>
            <li class="list-item"> <a class="a" href="https://help.netflix.com/legal/termsofuse"> Terms of Use </a></li>
            <li class="list-item"> <a class="a" href="https://help.netflix.com/legal/privacy"> Privacy </a></li>

            <li class="list-item"> <a class="a" href="https://www.netflix.com/in/"> Cookie Preferences </a></li>
            </ul>
            <ul class="list">
            <li class="list-item"> <a class="a" href="https://help.netflix.com/legal/corpinfo"> Corporate Information </a>
            </li>
            <li class="list-item"> <a class="a" href="https://help.netflix.com/en/contactus"> Contact Us </a></li>

            <li class="list-item"> <a class="a" href="https://fast.com/"> Speed Test </a></li>
            <li class="list-item"> <a class="a" href="https://help.netflix.com/legal/notices"> Legal Notices </a></li>
            <li class="list-item"> <a class="a" href="https://www.netflix.com/in/browse/genre/839338"> Only on Netflix
                </a></li>
             

        </ul>
    </div>
    <span class="lang">
        <img class="im" src="./assets/image/globe.png" alt="">

        <select class="option"> 
            <option value="English">English</option>
            <option value="Telugu">Telugu</option>
        </select>
    </span>

    <p class="ni">Netflix India</p>
</div>
</div>  